# ThingsBoard
TB_URL=http://localhost:8080
TB_USERNAME=tenant@thingsboard.org
TB_PASSWORD=tenant

# The Things Stack
TTS_BASE_URL=https://eu1.cloud.thethings.network
TTS_APP_ID=your-app-id
TTS_API_KEY=your-api-key

# LoRaWAN defaults
DEFAULT_FREQUENCY_PLAN=EU_863_870_TTN
DEFAULT_LORAWAN_VERSION=MAC_V1_0_3
DEFAULT_LORAWAN_PHY_VERSION=PHY_V1_0_3_REV_A
DEFAULT_JOIN_EUI=0000000000000000

# Service
SERVICE_PORT=5002
BRIDGE_SERVICE_NAME=ttn-tb-bridge
CORS_ORIGINS=http://46.225.54.21:8080,http://localhost:8080
LOG_LEVEL=INFO
